html {
  scroll-behavior: smooth;
}
body {
  font-family: "Lato", sans-serif;
  padding: 0;
  margin: 0;
}

nav {
  background-color: #111;
  color: #fff;
  padding: 20px 20px;
}

.navtop {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  display: flex;
  align-items: center;
  background-color: gray;
  padding: 10px 20px;
  border-radius: 10px;
}

.searchinput {
  border: none;
  background-color: transparent;
}

.search::placeholder {
  color: lightgrey;
}

.limitedoffer {
  font-size: 20px;
  border-bottom: 2px solid green;
  cursor: pointer;
}

.navbottom {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menuitem {
  margin-right: 50px;
  cursor: pointer;
  color: lightgrey;
  font-weight: 400;
}

.slider {
  background: url("https://images.unsplash.com/photo-1604147495798-57beb5d6af73?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2370&q=80");
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
  overflow: hidden;
}

.sliderwrapper {
  display: flex;
  width: 500vw;
  transition: all 1s ease-in-out;
}

.slideritem {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.sliderbg {
  width: 750px;
  height: 750px;
  border-radius: 50%;
  position: absolute;
  background-color: yellow;
}

.sliderimg {
  z-index: 1;
}

.slidertitle {
  position: absolute;
  top: 10%;
  right: 10%;
  color: #fff;
  font-size: 60px;
  font-weight: 900;
  text-align: center;
  z-index: 1;
}

.sliderprice {
  position: absolute;
  top: 10%;
  left: 10%;
  color: #fff;
  font-size: 60px;
  font-weight: 300;
  text-align: center;
  border: 1px solid grey;
  z-index: 1;
}

.buybutton {
  position: absolute;
  top: 50%;
  right: 10%;
  color: #fff;
  font-size: 30px;
  font-weight: 900;
  cursor: pointer;
  background-color: black;
  border: 1px solid grey;
  z-index: 1;
}

.buybutton:hover {
  background-color: #fff;
  color: black;
}

.slideritem:nth-child(1) .sliderbg {
  background-color: #369e63;
}

.slideritem:nth-child(2) .sliderbg {
  background-color: #34459d;
}

.slideritem:nth-child(3) .sliderbg {
  background-color: #475c18;
}

.slideritem:nth-child(4) .sliderbg {
  background-color: #431515;
}

.slideritem:nth-child(5) .sliderbg {
  background-color: #270e20;
}

.slideritem:nth-child(1) .sliderprice {
  color: #369e63;
}

.slideritem:nth-child(2) .sliderprice {
  color: #34459d;
}

.slideritem:nth-child(3) .sliderprice {
  color: #475c18;
}

.slideritem:nth-child(4) .sliderprice {
  color: #431515;
}

.slideritem:nth-child(5) .sliderprice {
  color: #270e20;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 50px;
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.featureimage {
  width: 50px;
  height: 50px;
}

.featuretitle {
  font-size: 20px;
  font-weight: 600;
  margin: 20px;
}

.featuredescription {
  color: gray;
  width: 50%;
  height: 50%;
}

.product {
  height: 100vh;
  background-color: whitesmoke;
  position: relative;
  clip-path: polygon(0 15%, 100% 0, 100% 100%, 0 100%);
}

.productimg {
  width: 50%;
}

.productdetails {
  position: absolute;
  top: 10%;
  right: 0;
  width: 40%;
  padding: 50px;
}

.producttitle {
  font-style: 75px;
  font-weight: 900;
}

.colors,
.sizes {
  display: flex;
  margin-bottom: 10px;
}

.color {
  width: 32px;
  height: 32px;
  border-radius: 5px;
  background-color: black;
  margin-right: 10px;
  cursor: pointer;
}

.color:last-child {
  background-color: darkblue;
}

.size {
  padding: 5px 20px;
  margin-right: 10px;
  border: 1px solid black;
  cursor: pointer;
  font-size: 20px;
}

.proudctbutton {
  float: right;
  padding: 10px 20px;
  background-color: black;
  color: white;
  font-weight: 600;
  cursor: pointer;
}

.proudctbutton:hover {
  background-color: white;
  color: black;
}

.payment {
  width: 500px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  height: 500px;
  position: absolute;
  background-color: #fff;
  padding: 10px 50px;
  display: none;
  flex-direction: column;
  box-shadow: -3px 0px 28px 0px rgba(0, 0, 0, 0.75);
}
.paytitle {
  font-size: 20px;
  color: rgb(113, 109, 109);
}

label {
  font-size: 14px;
  font-weight: 300;
}
.payinput {
  padding: 10px;
  margin: 10px 0px;
  border: none;
  border-bottom: 1px solid grey;
}
.payinput::placeholder {
  color: rgb(128, 128, 128);
}
.cardicon {
  margin-right: 10px;
}
.cardinfo {
  display: flex;
  justify-content: space-between;
}
.sm {
  width: 25%;
}
.paybutton {
  position: absolute;
  height: 40px;
  bottom: -40px;
  /* top: 0; */
  width: 100%;
  left: 0;
  -webkit-box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 0px 13px 2px rgba(0, 0, 0, 0.3);
  background-color: #369e62;
  color: white;
  border: none;
  cursor: pointer;
}

.close {
  width: 20px;
  height: 20px;
  position: absolute;
  background-color: gray;
  color: white;
  top: 10px;
  right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  padding: 5px 5px;
}
.gallery {
  padding: 50px;
  display: flex;
}

.galleryitem {
  flex: 1;
  padding: 50px;
}

.galleryimg {
  width: 100%;
}
.newseason {
  display: flex;
}

.nsitem {
  flex: 1;
  background-color: #111;
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.nsimg {
  width: 100%;
  height: 500px;
}

.nstitle {
  font-size: 40px;
}

.nsbutton {
  padding: 15px;
  font-weight: 600;
  cursor: pointer;
}

footer {
  display: flex;
}

.footerleft {
  flex: 2;
  display: flex;
  justify-content: space-between;
  padding: 50px;
}
.fmenutitle {
  font-size: 16px;
}
.fmenulist {
  padding: 0;
  list-style: none;
}
.flistitem {
  margin-bottom: 10px;
  color: gray;
  cursor: pointer;
}

.footerright {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.finput {
  padding: 5px;
}

.fbutton {
  padding: 5px;
  background-color: #111;
  color: white;
}

.ficons {
  display: flex;
}

.ficon {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.copyright {
  font-weight: 300;
  font-size: 14px;
}

@media screen and (max-width: 480px) {
  nav {
    padding: 20px;
  }
  .search {
    display: none;
  }
  .navbottom {
    flex-wrap: wrap;
  }
  .menuitem {
    margin: 20px;
    font-weight: 700;
    font-size: 20px;
  }
  .slider {
    clip-path: none;
  }
  .sliderimg {
    width: 90%;
  }
  .sliderbg {
    width: 100%;
    height: 100%;
  }
  .slidertitle {
    display: none;
  }
  .buybutton {
    right: 0;
    top: 0;
  }
  .sliderprice {
    top: unset;
    bottom: -50px;
    left: 0;
    /* background-color: gray; */
  }
  .features {
    flex-direction: column;
  }
  .feature {
    padding: 20px;
  }
  .product {
    clip-path: none;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .productdetails {
    width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    top: 0;
  }
  .producttitle {
    font-size: 50px;
    margin: 0;
  }
  .productimg {
    width: 80%;
  }
  .gallery {
    display: none;
  }
  .newseason {
    flex-direction: column;
  }
  .nsitem:nth-child(2){
    padding: 50px;
  }
  footer{
    flex-direction: column;
    align-items: center;
  }
  .footerleft{
    padding: 20px;
    width: 90%;
  }
  .footerright{
    padding: 20px;
    width: 90%;
    align-items: center;
    background-color: whitesmoke;
  }
  .payment{
    width: 90%;
    padding: 20px;
  }
}
